<section class="ivideon-promo-bridge-block">
    <div class="iv-container">
        <div class="ivideon-promo-bridge-inner">
            <h2 class="ivideon-promo-bridge__title">{{ivBridgePromoTitle}}</h2>
            <p class="ivideon-promo-bridge__text">{{ivBridgePromoText}}</p>
            <a href="#" class="btn-white ivideon-promo-bridge__btn">{{ivBridgePromoBtn}}</a>
        </div>
    </div>
</section>