<section class="ivideon-bridge-top">
    <div class="iv-container iv-container--ivideon-bridge-top">
        <div class="ivideon-bridge-top__wrapper">
            <div class="ivideon-bridge-top__text-wrapper">
                <h1 class="ivideon-bridge-top__title">{{ivBridgeTopTitle |safe}}</h1>
                <p class="ivideon-bridge-top__text">{{ivBridgeTopText |safe}}</p>
                <div class="ivideon-bridge-top__btn-wrapper">
                    <a href="#" class="btn-blue ivideon-bridge-top__btn">{{ivBridgeTopBtnBlue}}</a>
                </div>
            </div>
        </div>
    </div>
</section>