<section class="ivideon-promo-block">
    <div class="iv-container">
        <div class="ivideon-promo-inner">
            <h2 class="ivideon-promo__title">{{ivBridgePromoTitle}}</h2>
            <p class="ivideon-promo__text">{{ivBridgePromoText}}</p>
            <a href="#" class="btn-white ivideon-promo__btn">{{ivBridgePromoBtn}}</a>
        </div>
    </div>
</section>