// WRAPPER
.ivideon-faces-top {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 40px 40px;
  background-color: $iv-ws-colors-dodger-blue3;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url("../images/dest/img/ivideon-faces/faces_top-m.png");
  min-height: 600px;
  overflow: hidden;
  margin-bottom: 64px;
  @media all and (min-width: $tablet-bp) {
    min-height: 560px;
    margin-bottom: 80px;
    background-position: bottom right;
    background-image: url("../images/dest/img/ivideon-faces/faces_top-t.png");
  }
  @media all and (min-width: $desktop-bp) {
    min-height: 720px;
    background-position: bottom right;
    background-image: url("../images/dest/img/ivideon-faces/faces_top-d.png");
    background-size: 700px;
  }
  @media all and (min-width: 1200px) {
    background-size: 900px;
  }
  @media all and (min-width: $large-bp) {
    background-size: auto;
  }
}
.iv-container--ivideon-faces-top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ivideon-faces-top__wrapper {
  flex-grow: 1;
  position: relative;
  padding: 96px 0 0 0;
  @media all and (min-width: $tablet-bp) {
    padding: 160px 0 0 0;
  }
  @media all and (min-width: $desktop-bp) {
    padding: 264px 0 0 0;
  }
}
// TITLE
.ivideon-faces-top__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: $iv-ws-colors-text-light;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
  }
  @media all and (min-width: $desktop-bp) {
    font-size: 64px;
    line-height: 64px;
  }
}
// TEXT
.ivideon-faces-top__text-wrapper {
  position: relative;
  z-index: 4;
}
.ivideon-faces-top__text {
  font-size: 14px;
  line-height: 24px;
  color: $iv-ws-colors-text-light;
  margin-bottom: 24px;
  max-width: 335px;
  @media all and (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    max-width: 360px;
  }
  @media all and (min-width: $desktop-bp) {
    max-width: 500px;
    font-size: 24px;
    line-height: 32px;
  }
}
// BTNS
.ivideon-faces-top__btn-wrapper {
  display: flex;
  justify-content: flex-end;
  @media all and (min-width: $tablet-bp) {
    justify-content: flex-start;
  }
}
.ivideon-faces-top__btn {
  &:first-child {
    margin-right: 16px;
  }
}
