<section class="ivideon-detector-top">
    <div class="iv-container iv-container--ivideon-detector-top">
        <div class="ivideon-detector-top__wrapper">
            <div class="ivideon-detector-top__text-wrapper">
                <h1 class="ivideon-detector-top__title">{{ivDetectorTopTitle}}</h1>
                <p class="ivideon-detector-top__text">{{ivDetectorTopText}}</p>
                <div class="ivideon-detector-top__btn-wrapper">
                    <a href="#" class="btn-blue ivideon-detector-top__btn">{{ivDetectorTopBtnBlue}}</a>
                    <a href="#" class="btn-white ivideon-detector-top__btn">{{ivDetectorTopBtnWhite}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ivideon-detector-top__img-block">
        <!-- <img class="ivideon-detector-top__img-main" src="../../images/dest/img/ivideon-detector/videon-detector-top-img.png" alt="bg"> 
        -->

    </div>
    <img class="ivideon-detector-top__img-main-small"
        src="../../images/dest/img/ivideon-detector/videon-detector-top-img1.png" alt="bg">
    <img class="ivideon-detector-top__img-sub-small"
        src="../../images/dest/img/ivideon-detector/videon-detector-top-img2.svg" alt="bg">
</section>