<section class="ivideon-promo-detector-block">
    <div class="iv-container">
        <div class="ivideon-promo-detector-inner">
            <h2 class="ivideon-promo-detector__title">{{ivDetectorPromoTitle}}</h2>
            <p class="ivideon-promo-detector__text">{{ivDetectorPromoText}}</p>
            <a href="#" class="btn-white ivideon-promo-detector__btn">{{ivDetectorPromoBtn}}</a>
        </div>
    </div>
</section>