<section class="ivideon-storage-top">
    <div class="iv-container iv-container--ivideon-storage-top">
        <div class="ivideon-storage-top__wrapper">
            <div class="ivideon-storage-top__text-wrapper">
                <h1 class="ivideon-storage-top__title">{{ivStorageTopTitle |safe}}</h1>
                <p class="ivideon-storage-top__text">{{ivStorageTopText |safe}}</p>
                <div class="ivideon-storage-top__btn-wrapper">
                    <a href="#" class="btn-blue ivideon-storage-top__btn">{{ivStorageTopBtnBlue}}</a>
                </div>
            </div>
        </div>
    </div>
</section>