<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  {% if not(pageTitle) %}
  {% set pageTitle = "iVideon" %}
  {% endif %}
  <title>{{ pageTitle }}</title>
  <meta name="viewport" content="width=device-width" />
  <!-- <link rel="icon" href="img/favicon.png" /> -->
  <link rel="stylesheet" href="../../css/{{pageName}}.min.css" />
</head>

<body class="iv-page__body iv-tmpl-june">
  <div class="iv-page__wrapper">
    {% block content %}
    {% endblock %}
  </div>
  <script src="../../js_min/{{pageName}}.min.js"></script>
</body>

</html>