<section class="ivideon-office-top">
    <div class="iv-container iv-container--ivideon-office-top">
        <div class="ivideon-office-top__wrapper">
            <div class="ivideon-office-top__text-wrapper">
                <h1 class="ivideon-office-top__title">{{ivOfficeTopTitle |safe}}</h1>
                <p class="ivideon-office-top__text">{{ivOfficeTopText |safe}}</p>
                <div class="ivideon-office-top__btn-wrapper">
                    <a href="#" class="btn-blue ivideon-office-top__btn">{{ivOfficeTopBtnBlue}}</a>
                </div>
            </div>
        </div>
    </div>
</section>