<section class="ivideon-number-top">
    <div class="iv-container iv-container--ivideon-number-top">
        <div class="ivideon-number-top__wrapper">
            <div class="ivideon-number-top__text-wrapper">
                <p class="ivideon-number-top__sybtitle">{{ivNumberTopSubtitle |safe}}</p>
                <h1 class="ivideon-number-top__title">{{ivNumberTopTitle |safe}}</h1>
                <p class="ivideon-number-top__text">{{ivNumberTopText |safe}}</p>
                <div class="ivideon-number-top__btn-wrapper">
                    <a href="#" class="btn-blue ivideon-number-top__btn">{{ivNumberTopBtnBlue}}</a>
                </div>
            </div>
        </div>
    </div>
</section>