<section class="ivideon-number-calculation">
    <div class="iv-container">
        <div class="iv-row ivideon-number-calculation__iv-row">
            <div class="ivideon-number-calculation__col-text">
                <h2 class="iv-h2-base ivideon-number-calculation__title">{{ivNumberCalculationTitle}}</h2>
                <p class="ivideon-number-calculation__text">{{ivNumberCalculationText}}</p>
                <a href="#" class="btn-blue">{{ivNumberCalculationBtn}}</a>
            </div>
            <div class="ivideon-number-calculation__col-img">
                <img class="ivideon-number-calculation__img"
                    src="../../images/dest/img/ivideon_number/control-number.png" alt="{{ivNumberCalculationTitle}}">
            </div>
        </div>
    </div>
</section>