<section class="ivideon-promo-number-block">
    <div class="iv-container">
        <div class="ivideon-promo-number-inner">
            <h2 class="ivideon-promo-number__title">{{ivNumberPromoTitle}}</h2>
            <p class="ivideon-promo-number__text">{{ivNumberPromoText}}</p>
            <a href="#" class="btn-white ivideon-promo-number__btn">{{ivNumberPromoBtn}}</a>
        </div>
    </div>
</section>