<section class="ivideon-smart-video">
    <div class="iv-container">
        <h2 class="iv-h2-base ivideon-smart-video__title">{{ivSmartVideoItemTitle}}</h2>
        <p class="ivideon-smart-video__desc">{{ivSmartVideoItemDesc}}</p>
        <div class="ivideon-smart-video__row">
            <div class="ivideon-smart-video__col">
                <div class="ivideon-smart-video__item">
                    <img class="ivideon-smart-video__item-img" src="../../images/dest/img/ivideon-smart/FjuJRKEVxf0.jpg"
                        alt="" />
                    <div class="iv-video-block-title">{{ivSmartVideoItemCardTitle1}}</div>
                    <ul class="iv-video-block-list">
                        <li>{{ivSmartVideoItemCardList1Text1}}</li>
                        <li>{{ivSmartVideoItemCardList1Text2}}</li>
                        <li>{{ivSmartVideoItemCardList1Text3}}</li>
                        <li>{{ivSmartVideoItemCardList1Text4}}</li>
                        <li>{{ivSmartVideoItemCardList1Text5}}</li>
                        <li>{{ivSmartVideoItemCardList1Text6}}</li>
                    </ul>
                    <div class="iv-video-name-price">
                        <span>{{ivSmartVideoItemCardName1}}</span>
                        <span>{{ivSmartVideoItemCardPrice1}}</span>
                    </div>
                </div>
            </div>

            <div class="ivideon-smart-video__col">
                <div class="ivideon-smart-video__item">
                    <img class="ivideon-smart-video__item-img" src="../../images/dest/img/ivideon-smart/0_fxyJM5w7I.jpg"
                        alt="" />
                    <div class="iv-video-block-title">{{ivSmartVideoItemCardTitle2}}</div>
                    <ul class="iv-video-block-list">
                        <li>{{ivSmartVideoItemCardList2Text1}}</li>
                        <li>{{ivSmartVideoItemCardList2Text2}}</li>
                        <li>{{ivSmartVideoItemCardList2Text3}}</li>
                        <li>{{ivSmartVideoItemCardList2Text4}}</li>
                        <li>{{ivSmartVideoItemCardList2Text5}}</li>
                        <li>{{ivSmartVideoItemCardList2Text6}}</li>
                    </ul>
                    <div class="iv-video-name-price">
                        <span>{{ivSmartVideoItemCardName2}}</span>
                        <span>{{ivSmartVideoItemCardPrice2}}</span>
                    </div>
                </div>
            </div>

            <div class="ivideon-smart-video__col">
                <div class="ivideon-smart-video__item">
                    <img class="ivideon-smart-video__item-img" src="../../images/dest/img/ivideon-smart/FjuJRKEVxf0.jpg"
                        alt="" />
                    <div class="iv-video-block-title">{{ivSmartVideoItemCardTitle3}}</div>
                    <ul class="iv-video-block-list">
                        <li>{{ivSmartVideoItemCardList3Text1}}</li>
                        <li>{{ivSmartVideoItemCardList3Text2}}</li>
                        <li>{{ivSmartVideoItemCardList3Text3}}</li>
                        <li>{{ivSmartVideoItemCardList3Text4}}</li>
                        <li>{{ivSmartVideoItemCardList3Text5}}</li>
                    </ul>
                    <div class="iv-video-name-price">
                        <span>{{ivSmartVideoItemCardName3}}</span>
                        <span>{{ivSmartVideoItemCardPrice3}}</span>
                    </div>
                </div>
            </div>


            <div class="ivideon-smart-video__col">
                <div class="ivideon-smart-video__item ivideon-smart-video__item--promo">
                    <img class="ivideon-smart-video__item-img" src="../../images/dest/img/ivideon-smart/new_cam.png"
                        alt="" />
                    <div class="iv-video-block-title4">
                        {{ivSmartVideoItemCardTitle4}}
                    </div>
                    <button class="ivideon-smart-video__item-btn">{{ivSmartVideoItemCardButton}}</button>
                </div>
            </div>
        </div>
    </div>
</section>