<section class="ivideon-service">
    <div class="iv-container">
        <h2 class="iv-h2-base videon-service__title">{{ivSmartServicesTitle}}</h2>
        <div class="iv-row">
            <div class="ivideon-service__col">
                <div class="ivideon-service__item">
                    <div class="ivideon-service__item-img ivideon-service__item-img--1">
                        <img src="../../images/dest/img/ivideon-smart/smart-service1.png" alt="камера">
                    </div>
                    <p class="ivideon-service__item-title">{{ivSmartServicesItemTitle1}}</p>
                    <p class="ivideon-service__item-subtitle">{{ivSmartServicesItemSubtitle1}}</p>
                    <ul class="ivideon-service__item-list">
                        <li>
                            <span class="ivideon-service__item-list-number">1</span>
                            <a href="#" class="ivideon-service__item-list-item">{{ivSmartServicesItemList1}}</a>
                        </li>
                        <li>
                            <span class="ivideon-service__item-list-number">2</span>
                            <p class="ivideon-service__item-list-item">
                                {{ivSmartServicesItemList2}}
                            </p>
                        </li>
                        <li>
                            <span class="ivideon-service__item-list-number">3</span>
                            <p class="ivideon-service__item-list-item">
                                {{ivSmartServicesItemList3}}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="ivideon-service__col">
                <div class="ivideon-service__item">
                    <div class="ivideon-service__item-img ivideon-service__item-img--2">
                        <img src="../../images/dest/img/ivideon-smart/smart-service2.png" alt="камера">
                    </div>
                    <p class="ivideon-service__item-title">{{ivSmartServicesItemTitle2}}</p>
                    <p class="ivideon-service__item-subtitle">{{ivSmartServicesItemSubtitle2}}</p>
                    <ul class="ivideon-service__item-list">
                        <li>
                            <span class="ivideon-service__item-list-number">1</span>
                            <p class="ivideon-service__item-list-item ivideon-service__item-list-item--inactive">
                                {{ivSmartServicesItemList4}}</p>
                        </li>
                        <li>
                            <span class="ivideon-service__item-list-number">2</span>
                            <p class="ivideon-service__item-list-item">
                                {{ivSmartServicesItemList5}}
                            </p>
                        </li>
                        <li>
                            <span class="ivideon-service__item-list-number">3</span>
                            <p class="ivideon-service__item-list-item">
                                {{ivSmartServicesItemList6}}
                            </p>
                        </li>
                        <li>
                            <span class="ivideon-service__item-list-number">4</span>
                            <p class="ivideon-service__item-list-item">
                                {{ivSmartServicesItemList7}}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>