<section class="ivideon-smart-solution">
    <div class="iv-container">
        <h2 class="iv-h2-base ivideon-smart-solution__title">{{ivSmartSolutionItemTitle1}}</h2>
        <ul class="iv-list-smart-solutions">
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList1Text1}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList1Text2}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList1Text3}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList1Text4}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList1Text5}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList1Text6}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList1Text7}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList1Text8}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList1Text9}}</a></li>
        </ul>


        <ul class="iv-list-smart-solutions">
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList2Text1}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList2Text2}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList2Text3}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList2Text4}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList2Text5}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList2Text6}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList2Text7}}</a></li>
        </ul>

        <ul class="iv-list-smart-solutions">
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList3Text1}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList3Text2}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList3Text3}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList3Text4}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList3Text5}}</a></li>
        </ul>

        <ul class="iv-list-smart-solutions">
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList4Text1}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList4Text2}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList4Text3}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList4Text4}}</a></li>
            <li><a class="iv-list-smart-solutions__item" href="#">{{ivSmartSolutionItemList4Text5}}</a></li>
        </ul>

    </div>
</section>