<section class="ivideon-smart-top">
    <div class="iv-container iv-container--ivideon-smart-top">
        <div class="ivideon-smart-top__wrapper">
            <div class="ivideon-smart-top__text-wrapper">
                <h1 class="ivideon-smart-top__title">{{ivSmartTopTitle |safe}}</h1>
                <p class="ivideon-smart-top__text">{{ivSmartTopText |safe}}</p>
                <div class="ivideon-smart-top__btn-wrapper">
                    <a href="#" class="btn-blue ivideon-smart-top__btn">{{ivSmartTopBtnBlue}}</a>
                </div>
            </div>
        </div>
    </div>
</section>