.ivideon-examples__item {
  height: 100%;
}
// IMG
.ivideon-examples__img {
  margin-bottom: 24px;
  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}
// TITLE
.ivideon-examples__item-title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $iv-ws-colors-midnight;
  @media all and (min-width: $tablet-bp) {
    font-size: 24px;
    line-height: 32px;
  }
}
// TEXT
.ivideon-examples__item-text {
  font-size: 13px;
  line-height: 20px;
  color: $iv-ws-colors-ship-cove;
  @media all and (min-width: $tablet-bp) {
    font-size: 15px;
    line-height: 24px;
  }
}
