@import "./ivideon_feature_item_gray.scss";

.ivideon-feture-gray {
  margin-bottom: 64px;
  @media all and (min-width: $large-bp) {
    margin-bottom: 80px;
  }
}
// COL
.ivideon-feture-gray__col {
  max-width: 100%;
  flex-basis: 100%;
  margin-bottom: 12px;
  @media all and (min-width: $tablet-bp) {
    margin-right: 12px;
    max-width: calc((100% - 12px) / 2);
    flex-basis: calc((100% - 12px) / 2);
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  @media all and (min-width: $large-bp) {
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: calc((100% - 20px * 2) / 3);
    flex-basis: calc((100% - 20px * 2) / 3);
    &:nth-child(2n) {
      margin-right: 20px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
