<section class="ivideon-store-top">
    <div class="iv-container iv-container--ivideon-store-top">
        <div class="ivideon-store-top__wrapper">
            <div class="ivideon-store-top__text-wrapper">
                <h1 class="ivideon-store-top__title">{{ivStoreTopTitle |safe}}</h1>
                <p class="ivideon-store-top__text">{{ivStoreTopText |safe}}</p>
                <div class="ivideon-store-top__btn-wrapper">
                    <a href="#" class="btn-blue ivideon-store-top__btn">{{ivStoreTopBtnBlue}}</a>
                </div>
            </div>
        </div>
    </div>
</section>