<section class="ivideon-store-promo2">
    {% set promo1= {
    title: ivStorePromoTitle2,
    text: ivStorePromoText2,
    btn: ivStorePromoBtn2,
    img: "../../images/dest/img/common/promo_bg2.png",
    type: 'gray'
    } %}
    {% from "app/njk/components/ivideon_promo.njk" import promoSection %}
    {{ promoSection(promo1.title, promo1.text, promo1.btn, promo1.img, promo1.type) }}
</section>