<section class="ivideon-store-services">
    <div class="ivideon-store-services__item-wrapper">
        <div class="ivideon-store-services__item-top">
            <div class="ivideon-store-services__item-color ivideon-store-services__item-color--blue">
                <p class="ivideon-store-services__color-text">
                    {{ivStoreServicesItemTitle1}}
                </p>
            </div>
            <div class="ivideon-store-services__item-img"
                style="background-image: url('../../images/dest/img/ivideon_store/store_service1.jpg');">
                <div class="ivideon-store-services__img-content">
                    <div class="ivideon-store-services__img-content-top">
                        <p class="ivideon-store-services__img-title ivideon-store-services__img-title--blue">
                            <span>{{ivStoreServicesItemDescTitle1}}</span>
                            <svg class="svg-icon ivideon-store-services__img-title-icon">
                                <use xlink:href="../../images/sprites/svg/sprite.symbol.svg#info-icon"></use>
                            </svg>
                        </p>
                        <p class="ivideon-store-services__img-right">
                            {{ivStoreServicesItemDescCam1}}
                        </p>
                    </div>
                    <div class="ivideon-store-services__img-text-wrapper">
                        <div class="iv-row ivideon-store-services__img-text-row">
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle1}}</b> {{ivStoreServicesItemDescItemSubTitle1}}
                            </p>
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle2}}</b> {{ivStoreServicesItemDescItemSubTitle2}}
                            </p>
                        </div>
                        <div class="iv-row ivideon-store-services__img-text-row">
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle3}}</b> {{ivStoreServicesItemDescItemSubTitle3}}
                            </p>
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle4}}</b> {{ivStoreServicesItemDescItemSubTitle4}}
                            </p>
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle5}}</b> {{ivStoreServicesItemDescItemSubTitle5}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ivideon-store-services__item-bottom js--slider-services">
            <div class="ivideon-store-services__item-default ivideon-store-services_col3">
                <div class="ivideon-store-services__item-default-item">
                    <div class="ivideon-store-services__item-default-text-wrapper">
                        <p class="ivideon-store-services__item-default-name">{{ivStoreServicesItemColType1}}</p>
                        <p class="ivideon-store-services__item-default-title">{{ivStoreServicesItemColTitle1}}
                        </p>
                        <p class="ivideon-store-services__item-default-text">{{ivStoreServicesItemColText1}}</p>
                    </div>
                    <div class="ivideon-store-services__item-default-btns">
                        <a href="#" class="ivideon-store-services__item-default-btn">
                            {{ivStoreServicesItemColBtn1}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="ivideon-store-services__item-default ivideon-store-services_col3">
                <div class="ivideon-store-services__item-default-item">
                    <div class="ivideon-store-services__item-default-text-wrapper">
                        <p class="ivideon-store-services__item-default-name">{{ivStoreServicesItemColType2}}</p>
                        <p class="ivideon-store-services__item-default-title">{{ivStoreServicesItemColTitle2}}
                        </p>
                        <p class="ivideon-store-services__item-default-text">{{ivStoreServicesItemColText2}}</p>
                    </div>
                    <div class="ivideon-store-services__item-default-btns">
                        <a href="#" class="ivideon-store-services__item-default-btn">
                            {{ivStoreServicesItemColBtn2}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="ivideon-store-services__item-default ivideon-store-services_col3">
                <div class="ivideon-store-services__item-default-item">
                    <div class="ivideon-store-services__item-default-text-wrapper">
                        <p class="ivideon-store-services__item-default-name">{{ivStoreServicesItemColType3}}</p>
                        <p class="ivideon-store-services__item-default-title">{{ivStoreServicesItemColTitle3}}
                        </p>
                        <p class="ivideon-store-services__item-default-text">{{ivStoreServicesItemColText3}}</p>
                    </div>
                    <div class="ivideon-store-services__item-default-btns">
                        <a href="#" class="ivideon-store-services__item-default-btn">
                            {{ivStoreServicesItemColBtn3}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ivideon-store-services__item-wrapper">
        <div class="ivideon-store-services__item-top">
            <div class="ivideon-store-services__item-color ivideon-store-services__item-color--yellow">
                <p class="ivideon-store-services__color-text">
                    {{ivStoreServicesItemTitle2}}
                </p>
            </div>
            <div class="ivideon-store-services__item-img"
                style="background-image: url('../../images/dest/img/ivideon_store/store_service2.jpg');">
                <div class="ivideon-store-services__img-content">
                    <div class="ivideon-store-services__img-content-top">
                        <p class="ivideon-store-services__img-title ivideon-store-services__img-title--blue">
                            <span>{{ivStoreServicesItemDescTitle2}}</span>
                            <svg class="svg-icon ivideon-store-services__img-title-icon">
                                <use xlink:href="../../images/sprites/svg/sprite.symbol.svg#info-icon"></use>
                            </svg>
                        </p>
                        <p class="ivideon-store-services__img-right">
                            {{ivStoreServicesItemDescCam2}}
                        </p>
                    </div>
                    <div class="ivideon-store-services__img-text-wrapper">
                        <div class="iv-row ivideon-store-services__img-text-row">
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle6}}</b> {{ivStoreServicesItemDescItemSubTitle6}}
                            </p>
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle7}}</b> {{ivStoreServicesItemDescItemSubTitle7}}
                            </p>
                        </div>
                        <div class="iv-row ivideon-store-services__img-text-row">
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle8}}</b> {{ivStoreServicesItemDescItemSubTitle8}}
                            </p>
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle9}}</b> {{ivStoreServicesItemDescItemSubTitle9}}
                            </p>
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle10}}</b> {{ivStoreServicesItemDescItemSubTitle10}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ivideon-store-services__item-bottom js--slider-services">
            <div class="ivideon-store-services__item-default ivideon-store-services_col3">
                <div class="ivideon-store-services__item-default-item">
                    <div class="ivideon-store-services__item-default-text-wrapper">
                        <p class="ivideon-store-services__item-default-name">{{ivStoreServicesItemColType4}}</p>
                        <p class="ivideon-store-services__item-default-title">{{ivStoreServicesItemColTitle4}}
                        </p>
                        <p class="ivideon-store-services__item-default-text">{{ivStoreServicesItemColText4}}</p>
                    </div>
                    <div class="ivideon-store-services__item-default-btns">
                        <a href="#" class="ivideon-store-services__item-default-btn">
                            {{ivStoreServicesItemColBtn4}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="ivideon-store-services__item-default ivideon-store-services_col3">
                <div class="ivideon-store-services__item-default-item">
                    <div class="ivideon-store-services__item-default-text-wrapper">
                        <p class="ivideon-store-services__item-default-name">{{ivStoreServicesItemColType5}}</p>
                        <p class="ivideon-store-services__item-default-title">{{ivStoreServicesItemColTitle5}}
                        </p>
                        <p class="ivideon-store-services__item-default-text">{{ivStoreServicesItemColText5}}</p>
                    </div>
                    <div class="ivideon-store-services__item-default-btns">
                        <a href="#" class="ivideon-store-services__item-default-btn">
                            {{ivStoreServicesItemColBtn5}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="ivideon-store-services__item-default ivideon-store-services_col3">
                <div class="ivideon-store-services__item-default-item">
                    <div class="ivideon-store-services__item-default-text-wrapper">
                        <p class="ivideon-store-services__item-default-name">{{ivStoreServicesItemColType6}}</p>
                        <p class="ivideon-store-services__item-default-title">{{ivStoreServicesItemColTitle6}}
                        </p>
                        <p class="ivideon-store-services__item-default-text">{{ivStoreServicesItemColText6}}</p>
                    </div>
                    <div class="ivideon-store-services__item-default-btns">
                        <a href="#" class="ivideon-store-services__item-default-btn">
                            {{ivStoreServicesItemColBtn6}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ivideon-store-services__item-wrapper">
        <div class="ivideon-store-services__item-top">
            <div class="ivideon-store-services__item-color ivideon-store-services__item-color--green">
                <p class="ivideon-store-services__color-text">
                    {{ivStoreServicesItemTitle3}}
                </p>
            </div>
            <div class="ivideon-store-services__item-img"
                style="background-image: url('../../images/dest/img/ivideon_store/store_service3.jpg');">
                <div class="ivideon-store-services__img-content">
                    <div class="ivideon-store-services__img-content-top">
                        <p class="ivideon-store-services__img-title ivideon-store-services__img-title--blue">
                            <span>{{ivStoreServicesItemDescTitle3}}</span>
                            <svg class="svg-icon ivideon-store-services__img-title-icon">
                                <use xlink:href="../../images/sprites/svg/sprite.symbol.svg#info-icon"></use>
                            </svg>
                        </p>
                        <p class="ivideon-store-services__img-right">
                            {{ivStoreServicesItemDescCam3}}
                        </p>
                    </div>
                    <div class="ivideon-store-services__img-text-wrapper">
                        <div class="iv-row ivideon-store-services__img-text-row">
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle11}}</b> {{ivStoreServicesItemDescItemSubTitle11}}
                            </p>
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle12}}</b> {{ivStoreServicesItemDescItemSubTitle12}}
                            </p>
                        </div>
                        <div class="iv-row ivideon-store-services__img-text-row">
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle13}}</b> {{ivStoreServicesItemDescItemSubTitle13}}
                            </p>
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle14}}</b> {{ivStoreServicesItemDescItemSubTitle14}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ivideon-store-services__item-bottom js--slider-services">
            <div class="ivideon-store-services__item-default ivideon-store-services_col2">
                <div class="ivideon-store-services__item-default-item">
                    <div class="ivideon-store-services__item-default-text-wrapper">
                        <p class="ivideon-store-services__item-default-name">{{ivStoreServicesItemColType7}}</p>
                        <p class="ivideon-store-services__item-default-title">{{ivStoreServicesItemColTitle7}}
                        </p>
                        <p class="ivideon-store-services__item-default-text">{{ivStoreServicesItemColText7}}</p>
                    </div>
                    <div class="ivideon-store-services__item-default-btns">
                        <a href="#" class="ivideon-store-services__item-default-btn">
                            {{ivStoreServicesItemColBtn7}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="ivideon-store-services__item-default ivideon-store-services_col2">
                <div class="ivideon-store-services__item-default-item">
                    <div class="ivideon-store-services__item-default-text-wrapper">
                        <p class="ivideon-store-services__item-default-name">{{ivStoreServicesItemColType8}}</p>
                        <p class="ivideon-store-services__item-default-title">{{ivStoreServicesItemColTitle8}}
                        </p>
                        <p class="ivideon-store-services__item-default-text">{{ivStoreServicesItemColText8}}</p>
                    </div>
                    <div class="ivideon-store-services__item-default-btns">
                        <a href="#" class="ivideon-store-services__item-default-btn">
                            {{ivStoreServicesItemColBtn8}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ivideon-store-services__item-wrapper">
        <div class="ivideon-store-services__item-top">
            <div class="ivideon-store-services__item-color ivideon-store-services__item-color--violet">
                <p class="ivideon-store-services__color-text">
                    {{ivStoreServicesItemTitle4}}
                </p>
            </div>
            <div class="ivideon-store-services__item-img"
                style="background-image: url('../../images/dest/img/ivideon_store/store_service4.jpg');">
                <div class="ivideon-store-services__img-content">
                    <div class="ivideon-store-services__img-content-top">
                        <p class="ivideon-store-services__img-title ivideon-store-services__img-title--blue">
                            <span>{{ivStoreServicesItemDescTitle4}}</span>
                            <svg class="svg-icon ivideon-store-services__img-title-icon">
                                <use xlink:href="../../images/sprites/svg/sprite.symbol.svg#info-icon"></use>
                            </svg>
                        </p>
                        <p class="ivideon-store-services__img-right">
                            {{ivStoreServicesItemDescCam4}}
                        </p>
                    </div>
                    <div class="ivideon-store-services__img-text-wrapper">
                        <div class="iv-row ivideon-store-services__img-text-row">
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle15}}</b> {{ivStoreServicesItemDescItemSubTitle15}}
                            </p>
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle16}}</b> {{ivStoreServicesItemDescItemSubTitle16}}
                            </p>
                        </div>
                        <div class="iv-row ivideon-store-services__img-text-row">
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle17}}</b> {{ivStoreServicesItemDescItemSubTitle17}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ivideon-store-services__item-bottom js--slider-services">
            <div class="ivideon-store-services__item-default ivideon-store-services_col3">
                <div class="ivideon-store-services__item-default-item">
                    <div class="ivideon-store-services__item-default-text-wrapper">
                        <p class="ivideon-store-services__item-default-name">{{ivStoreServicesItemColType9}}</p>
                        <p class="ivideon-store-services__item-default-title">{{ivStoreServicesItemColTitle9}}
                        </p>
                        <p class="ivideon-store-services__item-default-text">{{ivStoreServicesItemColText9}}</p>
                    </div>
                    <div class="ivideon-store-services__item-default-btns">
                        <a href="#" class="ivideon-store-services__item-default-btn">
                            {{ivStoreServicesItemColBtn9}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="ivideon-store-services__item-default ivideon-store-services_col3">
                <div class="ivideon-store-services__item-default-item">
                    <div class="ivideon-store-services__item-default-text-wrapper">
                        <p class="ivideon-store-services__item-default-name">{{ivStoreServicesItemColType10}}</p>
                        <p class="ivideon-store-services__item-default-title">{{ivStoreServicesItemColTitle10}}
                        </p>
                        <p class="ivideon-store-services__item-default-text">{{ivStoreServicesItemColText10}}</p>
                    </div>
                    <div class="ivideon-store-services__item-default-btns">
                        <a href="#" class="ivideon-store-services__item-default-btn">
                            {{ivStoreServicesItemColBtn10}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="ivideon-store-services__item-default ivideon-store-services_col3">
                <div class="ivideon-store-services__item-default-item">
                    <div class="ivideon-store-services__item-default-text-wrapper">
                        <p class="ivideon-store-services__item-default-name">{{ivStoreServicesItemColType11}}</p>
                        <p class="ivideon-store-services__item-default-title">{{ivStoreServicesItemColTitle11}}
                        </p>
                        <p class="ivideon-store-services__item-default-text">{{ivStoreServicesItemColText11}}</p>
                    </div>
                    <div class="ivideon-store-services__item-default-btns">
                        <a href="#" class="ivideon-store-services__item-default-btn">
                            {{ivStoreServicesItemColBtn11}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ivideon-store-services__item-wrapper">
        <div class="ivideon-store-services__item-top">
            <div class="ivideon-store-services__item-color ivideon-store-services__item-color--red">
                <p class="ivideon-store-services__color-text">
                    {{ivStoreServicesItemTitle5}}
                </p>
            </div>
            <div class="ivideon-store-services__item-img"
                style="background-image: url('../../images/dest/img/ivideon_store/store_service5.jpg');">
                <div class="ivideon-store-services__img-content">
                    <div class="ivideon-store-services__img-content-top">
                        <p class="ivideon-store-services__img-title ivideon-store-services__img-title--red">
                            <span>{{ivStoreServicesItemDescTitle5}}</span>
                            <svg class="svg-icon ivideon-store-services__img-title-icon">
                                <use xlink:href="../../images/sprites/svg/sprite.symbol.svg#info-icon"></use>
                            </svg>
                        </p>
                        <p class="ivideon-store-services__img-right">
                            {{ivStoreServicesItemDescCam5}}
                        </p>
                    </div>
                    <div class="ivideon-store-services__img-text-wrapper">
                        <div class="iv-row ivideon-store-services__img-text-row">
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle18}}</b> {{ivStoreServicesItemDescItemSubTitle18}}
                            </p>
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle19}}</b> {{ivStoreServicesItemDescItemSubTitle19}}
                            </p>
                        </div>
                        <div class="iv-row ivideon-store-services__img-text-row">
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle20}}</b> {{ivStoreServicesItemDescItemSubTitle20}}
                            </p>
                            <p class="ivideon-store-services__img-text">
                                <b>{{ivStoreServicesItemDescItemTitle21}}</b> {{ivStoreServicesItemDescItemSubTitle21}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ivideon-store-services__item-bottom js--slider-services">
            <div class="ivideon-store-services__item-default ivideon-store-services_col2">
                <div class="ivideon-store-services__item-default-item">
                    <div class="ivideon-store-services__item-default-text-wrapper">
                        <p class="ivideon-store-services__item-default-name">{{ivStoreServicesItemColType12}}</p>
                        <p class="ivideon-store-services__item-default-title">{{ivStoreServicesItemColTitle12}}
                        </p>
                        <p class="ivideon-store-services__item-default-text">{{ivStoreServicesItemColText12}}</p>
                    </div>
                    <div class="ivideon-store-services__item-default-btns">
                        <a href="#" class="ivideon-store-services__item-default-btn">
                            {{ivStoreServicesItemColBtn12}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="ivideon-store-services__item-default ivideon-store-services_col2">
                <div class="ivideon-store-services__item-default-item">
                    <div class="ivideon-store-services__item-default-text-wrapper">
                        <p class="ivideon-store-services__item-default-name">{{ivStoreServicesItemColType13}}</p>
                        <p class="ivideon-store-services__item-default-title">{{ivStoreServicesItemColTitle13}}
                        </p>
                        <p class="ivideon-store-services__item-default-text">{{ivStoreServicesItemColText13}}</p>
                    </div>
                    <div class="ivideon-store-services__item-default-btns">
                        <a href="#" class="ivideon-store-services__item-default-btn">
                            {{ivStoreServicesItemColBtn13}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>