<section class="ivideon-store-more">
    <div class="iv-container">
        <h2 class="iv-h2-base ivideon-store-more__title">{{ivStoreMoreTitle}}</h2>
        <div class="iv-row">
            <div class="ivideon-store-more__col ivideon-store-more__col--item">
                <div class="ivideon-store-more__item">
                    <div class="ivideon-store-more__item-img">
                        <img src="../../images/dest/img/ivideon_store/store-more-item1.png"
                            alt="{{ivStoreMoreSubTitle}}">
                    </div>
                    <div class="ivideon-store-more__item-text-wrapper">
                        <p class="ivideon-store-more__item-title">{{ivStoreMoreItemTitle1}}</p>
                        <p class="ivideon-store-more__item-cost">{{ivStoreMoreItemCost1}}</p>
                        <p class="ivideon-store-more__item-subtitle">{{ivStoreMoreItemSubTitle1}}</p>
                    </div>
                </div>
            </div>
            <div class="ivideon-store-more__col ivideon-store-more__col--item">
                <div class="ivideon-store-more__item">
                    <div class="ivideon-store-more__item-img">
                        <img src="../../images/dest/img/ivideon_store/store-more-item2.png"
                            alt="{{ivStoreMoreSubTitle}}">
                    </div>
                    <div class="ivideon-store-more__item-text-wrapper">
                        <p class="ivideon-store-more__item-title">{{ivStoreMoreItemTitle2}}</p>
                        <p class="ivideon-store-more__item-cost">{{ivStoreMoreItemCost2}}</p>
                        <p class="ivideon-store-more__item-subtitle">{{ivStoreMoreItemSubTitle2}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>