<section class="ivideon-promo-control-block">
    <div class="iv-container">
        <div class="ivideon-promo-control-inner">
            <h2 class="ivideon-promo-control__title">{{ivControlPromoTitle}}</h2>
            <p class="ivideon-promo-control__text">{{ivControlPromoText}}</p>
            <a href="#" class="btn-white ivideon-promo-control__btn">{{ivControlPromoBtn}}</a>
        </div>
    </div>
</section>