<section class="ivideon-control-calculation">
    <div class="iv-container">
        <div class="iv-row ivideon-control-calculation__iv-row">
            <div class="ivideon-control-calculation__col-text">
                <h2 class="iv-h2-base ivideon-control-calculation__title">{{ivControlCalculationTitle}}</h2>
                <p class="ivideon-control-calculation__subtitle">{{ivControlCalculationSubtitle}}</p>
                <p class="ivideon-control-calculation__text">{{ivControlCalculationText}}</p>
                <a href="#" class="btn-blue">{{ivControlCalculationBtn}}</a>
            </div>
            <div class="ivideon-control-calculation__col-img">
                <img class="ivideon-control-calculation__img"
                    src="../../images/dest/img/ivideon-control/control-calculation.png"
                    alt="{{ivControlCalculationTitle}}">
            </div>
        </div>
    </div>
</section>