<section class="ivideon-control-top">
    <div class="iv-container iv-container--ivideon-control-top">
        <div class="ivideon-control-top__wrapper">
            <div class="ivideon-control-top__text-wrapper">
                <h1 class="ivideon-control-top__title">{{ivControlTopTitle |safe}}</h1>
                <p class="ivideon-control-top__text">{{ivControlTopText |safe}}</p>
                <div class="ivideon-control-top__btn-wrapper">
                    <a href="#" class="btn-blue ivideon-control-top__btn">{{ivControlTopBtnBlue}}</a>
                </div>
            </div>
        </div>
    </div>
</section>