// WRAPPER
.ivideon-detector-top {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 40px 40px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url("../images/dest/img/ivideon-detector/detector-top-bg-m.png"),
    linear-gradient(
      180deg,
      #eff0f4 24.65%,
      #eff0f4 24.98%,
      #eff0f4 25.35%,
      #eff0f4 26.03%,
      #eff0f4 26.69%,
      #eff0f4 27.6%,
      #eff0f4 28.57%,
      #f0f1f5 29.49%,
      #eeeff3 30.42%,
      #eeeff3 31.46%,
      #edeef2 32.48%,
      #edeef2 33.52%,
      #eeeff3 34.58%,
      #eeeff4 35.84%,
      #eeeff3 37.15%,
      #eeeff3 38.38%,
      #edeef2 39.49%,
      #edeef2 41.02%,
      #edeef2 42.46%,
      #edeef2 44.58%,
      #ecedf2 46.89%,
      #ebecf0 48.64%,
      #e9ecf3 50.89%,
      #ebecf1 54.26%,
      #eaebf0 56.18%,
      #eaebf0 58.78%,
      #e7eaf3 61.55%,
      #e5e8ef 65.61%,
      #e5e8ef 69.57%,
      #e3e7f0 73.22%,
      #e5e8ef 92.91%,
      #e5e8ef 94.96%
    );
  background-color: #eaedf4;
  min-height: 480px;
  overflow: hidden;
  margin-bottom: 64px;
  @media all and (min-width: $tablet-bp) {
    min-height: 560px;
    margin-bottom: 80px;
    background-image: url("../images/dest/img/ivideon-detector/detector-top-bg-t.png"),
      linear-gradient(
        180deg,
        #eff0f4 24.65%,
        #eff0f4 24.98%,
        #eff0f4 25.35%,
        #eff0f4 26.03%,
        #eff0f4 26.69%,
        #eff0f4 27.6%,
        #eff0f4 28.57%,
        #f0f1f5 29.49%,
        #eeeff3 30.42%,
        #eeeff3 31.46%,
        #edeef2 32.48%,
        #edeef2 33.52%,
        #eeeff3 34.58%,
        #eeeff4 35.84%,
        #eeeff3 37.15%,
        #eeeff3 38.38%,
        #edeef2 39.49%,
        #edeef2 41.02%,
        #edeef2 42.46%,
        #edeef2 44.58%,
        #ecedf2 46.89%,
        #ebecf0 48.64%,
        #e9ecf3 50.89%,
        #ebecf1 54.26%,
        #eaebf0 56.18%,
        #eaebf0 58.78%,
        #e7eaf3 61.55%,
        #e5e8ef 65.61%,
        #e5e8ef 69.57%,
        #e3e7f0 73.22%,
        #e5e8ef 92.91%,
        #e5e8ef 94.96%
      );
    background-position: right center;
    background-size: auto 100%;
    background-color: #eeeef2;
  }
  @media all and (min-width: $desktop-bp) {
    background-image: url("../images/dest/img/ivideon-detector/detector-top-bg-l.png"),
      linear-gradient(
        105deg,
        #eff0f4 24.65%,
        #eff0f4 24.98%,
        #eff0f4 25.35%,
        #eff0f4 26.03%,
        #eff0f4 26.69%,
        #eff0f4 27.6%,
        #eff0f4 28.57%,
        #f0f1f5 29.49%,
        #eeeff3 30.42%,
        #eeeff3 31.46%,
        #edeef2 32.48%,
        #edeef2 33.52%,
        #eeeff3 34.58%,
        #eeeff4 35.84%,
        #eeeff3 37.15%,
        #eeeff3 38.38%,
        #edeef2 39.49%,
        #edeef2 41.02%,
        #edeef2 42.46%,
        #edeef2 44.58%,
        #ecedf2 46.89%,
        #ebecf0 48.64%,
        #e9ecf3 50.89%,
        #ebecf1 54.26%,
        #eaebf0 56.18%,
        #eaebf0 58.78%,
        #e7eaf3 61.55%,
        #e5e8ef 65.61%,
        #e5e8ef 69.57%,
        #e3e7f0 73.22%,
        #e5e8ef 92.91%,
        #e5e8ef 94.96%
      );
    background-position: right bottom;
    background-size: 700px;
    min-height: 720px;
  }
  @media all and (min-width: 1200px) {
    background-image: url("../images/dest/img/ivideon-detector/detector-top-bg-l.png"),
      linear-gradient(
        138deg,
        #eff0f4 24.65%,
        #eff0f4 24.98%,
        #eff0f4 25.35%,
        #eff0f4 26.03%,
        #eff0f4 26.69%,
        #eff0f4 27.6%,
        #eff0f4 28.57%,
        #f0f1f5 29.49%,
        #eeeff3 30.42%,
        #eeeff3 31.46%,
        #edeef2 32.48%,
        #edeef2 33.52%,
        #eeeff3 34.58%,
        #eeeff4 35.84%,
        #eeeff3 37.15%,
        #eeeff3 38.38%,
        #edeef2 39.49%,
        #edeef2 41.02%,
        #edeef2 42.46%,
        #edeef2 44.58%,
        #ecedf2 46.89%,
        #ebecf0 48.64%,
        #e9ecf3 50.89%,
        #ebecf1 54.26%,
        #eaebf0 56.18%,
        #eaebf0 58.78%,
        #e7eaf3 61.55%,
        #e5e8ef 65.61%,
        #e5e8ef 69.57%,
        #e3e7f0 73.22%,
        #e5e8ef 92.91%,
        #e5e8ef 94.96%
      );
    background-size: 820px;
  }
  @media all and (min-width: $large-bp) {
    background-size: 920px;
  }
  @media all and (min-width: 1420px) {
    background-size: auto;
  }
}
.iv-container--ivideon-detector-top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ivideon-detector-top__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  padding: 96px 0 24px 0;
  @media all and (min-width: $tablet-bp) {
    padding: 168px 0 0 0;
  }
  @media all and (min-width: $desktop-bp) {
    padding: 244px 0 0 0;
  }
}
// TITLE
.ivideon-detector-top__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: $iv-ws-colors-midnight;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
  }
  @media all and (min-width: $desktop-bp) {
    font-size: 64px;
    line-height: 64px;
  }
}
// TEXT
.ivideon-detector-top__text-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  z-index: 4;
}
.ivideon-detector-top__text {
  font-size: 14px;
  line-height: 24px;
  color: $iv-ws-colors-midnight;
  margin-bottom: 24px;
  @media all and (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    max-width: 360px;
  }
  @media all and (min-width: $desktop-bp) {
    max-width: 550px;
    font-size: 24px;
    line-height: 32px;
  }
}

// BTNS
.ivideon-detector-top__btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  @media all and (min-width: $tablet-bp) {
    justify-content: flex-start;
    margin-top: 0;
  }
}
.ivideon-detector-top__btn {
  &:first-child {
    margin-right: 16px;
  }
}
