// WRAPPER
.ivideon-detector-top {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 40px 40px;
  background-image: linear-gradient(
    253.45deg,
    #c1e5ff 6.26%,
    rgba(193, 229, 255, 0.27) 88.65%
  );
  min-height: 600px;
  overflow: hidden;
  margin-bottom: 64px;
  @media all and (min-width: $tablet-bp) {
    min-height: 560px;
    margin-bottom: 80px;
  }
  @media all and (min-width: $desktop-bp) {
    min-height: 720px;
  }
}
.iv-container--ivideon-detector-top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ivideon-detector-top__wrapper {
  flex-grow: 1;
  position: relative;
  padding: 96px 0 0 0;
  @media all and (min-width: $tablet-bp) {
    padding: 168px 0 0 0;
  }
  @media all and (min-width: $desktop-bp) {
    padding: 244px 0 0 0;
  }
}
// TITLE
.ivideon-detector-top__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: $iv-ws-colors-midnight;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
  }
  @media all and (min-width: $desktop-bp) {
    font-size: 64px;
    line-height: 64px;
  }
}
// TEXT
.ivideon-detector-top__text-wrapper {
  position: relative;
  z-index: 4;
}
.ivideon-detector-top__text {
  font-size: 14px;
  line-height: 24px;
  color: $iv-ws-colors-midnight;
  margin-bottom: 24px;
  @media all and (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    max-width: 360px;
  }
  @media all and (min-width: $desktop-bp) {
    max-width: 550px;
    font-size: 24px;
    line-height: 32px;
  }
}
// BTNS
.ivideon-detector-top__btn {
  &:first-child {
    margin-right: 16px;
  }
}
// IMG
.ivideon-detector-top__img-block {
  position: absolute;
  bottom: 0;
  right: 0;
  @media all and (min-width: $desktop-bp) {
    right: -200px;
  }
  @media all and (min-width: 1600px) {
    right: -30px;
  }
}
