// WRAPPER
.ivideon-smart-top {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 40px 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../images/dest/img/ivideon-smart/smart-top-bg.jpg");
  min-height: 500px;
  overflow: hidden;
  margin-bottom: 64px;
  @media all and (min-width: $tablet-bp) {
    min-height: 560px;
    margin-bottom: 80px;
  }
  @media all and (min-width: $desktop-bp) {
    min-height: 720px;
  }
}
.iv-container--ivideon-smart-top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ivideon-smart-top__wrapper {
  flex-grow: 1;
  position: relative;
  padding: 96px 0 0 0;
  @media all and (min-width: $tablet-bp) {
    padding: 160px 0 0 0;
  }
  @media all and (min-width: $desktop-bp) {
    padding: 264px 0 0 0;
  }
}
// TITLE
.ivideon-smart-top__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: $iv-ws-colors-text-light;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
  }
  @media all and (min-width: $desktop-bp) {
    font-size: 64px;
    line-height: 64px;
  }
}
// TEXT
.ivideon-smart-top__text-wrapper {
  position: relative;
  z-index: 4;
}
.ivideon-smart-top__text {
  font-size: 14px;
  line-height: 24px;
  color: $iv-ws-colors-text-light;
  margin-bottom: 24px;
  @media all and (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  @media all and (min-width: $desktop-bp) {
    font-size: 24px;
    line-height: 32px;
  }
}
// BTNS
.ivideon-smart-top__btn {
  &:first-child {
    margin-right: 16px;
  }
}
