.ivideon-service {
  background-color: $iv-ws-colors-aliceblue;
  padding: 50px 0 80px;
  @media all and (min-width: $tablet-bp) {
    padding: 80px 0 120px;
  }
}
.videon-service__title {
  margin-bottom: 40px;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 64px;
  }
}
// COL
.ivideon-service__col {
  max-width: 100%;
  flex-basis: 100%;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  @media all and (min-width: 1300px) {
    margin-bottom: 0;
    max-width: calc((100% - 20px) / 2);
    flex-basis: calc((100% - 20px) / 2);
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}
// ITEM
.ivideon-service__item {
  position: relative;
  overflow: hidden;
  height: 100%;
  border-radius: 20px;
  padding: 180px 20px 20px 20px;
  background-color: $iv-ws-colors-text-light;
  transition: box-shadow $base-duration $base-timing,
    background-color $base-duration $base-timing;
  @media all and (min-width: 540px) {
    padding: 20px 180px 20px 20px;
  }
  @media all and (min-width: $tablet-bp) {
    background-color: $iv-ws-colors-aliceblue;
    border-radius: 40px;
    padding: 40px 300px 40px 40px;
  }
  @media all and (min-width: 1300px) {
    padding: 40px 270px 40px 40px;
  }
  &:hover {
    background-color: $iv-ws-colors-text-light;
    box-shadow: 0px 32px 64px rgba(115, 137, 149, 0.2);
    .ivideon-service__item-img {
      background-color: $iv-ws-colors-smart-video-block;
    }
    .ivideon-service__item-list-number {
      background-color: $iv-ws-colors-dodger-blue2;
    }
  }
}
// IMG
.ivideon-service__item-img {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 160px;
  height: 160px;
  background: $iv-ws-colors-solitude5;
  border-radius: 50%;
  transition: background-color $base-duration $base-timing;
  @media all and (min-width: 540px) {
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
  }
  @media all and (min-width: $tablet-bp) {
    left: auto;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 320px;
    height: 320px;
  }
  @media all and (min-width: 1300px) {
    width: 250px;
    height: 250px;
  }
  @media all and (min-width: 1600px) {
    width: 320px;
    height: 320px;
  }
  img {
    display: block;
  }
}
.ivideon-service__item-img--1 {
  img {
    width: 120px;
    margin-left: 15px;
    @media all and (min-width: $tablet-bp) {
      width: 241px;
    }
    @media all and (min-width: 1300px) {
      width: 181px;
      margin-left: 29px;
    }
    @media all and (min-width: 1600px) {
      width: 241px;
      margin-left: 15px;
    }
  }
}
.ivideon-service__item-img--2 {
  img {
    width: 110px;
    margin-left: 18px;
    margin-top: 22px;
    @media all and (min-width: $tablet-bp) {
      width: 222px;
      margin-left: 38px;
      margin-top: 42px;
    }
    @media all and (min-width: 1300px) {
      width: 172px;
      margin-left: 32px;
      margin-top: 36px;
    }
    @media all and (min-width: 1600px) {
      width: 222px;
      margin-left: 38px;
      margin-top: 42px;
    }
  }
}
// TITLE
.ivideon-service__item-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $iv-ws-colors-midnight;
  @media all and (min-width: $tablet-bp) {
    font-size: 32px;
    line-height: 40px;
  }
}
.ivideon-service__item-subtitle {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: $iv-ws-colors-ship-cove;
  @media all and (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 24px;
  }
}
// LIST
.ivideon-service__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    position: relative;
    padding-left: 48px;
    margin-bottom: 24px;
  }
}

// NUMBER
.ivideon-service__item-list-number {
  position: absolute;
  left: 0;
  top: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $iv-ws-colors-ship-cove;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: $iv-ws-colors-text-light;
  transition: background-color $base-duration $base-timing;
  @media all and (min-width: $tablet-bp) {
    font-size: 18px;
    line-height: 24px;
  }
}

// TEXT
.ivideon-service__item-list-item {
  font-size: 18px;
  line-height: 24px;
  color: $iv-ws-colors-midnight;
  &:last-child {
    margin-bottom: 0;
  }
}
a.ivideon-service__item-list-item {
  color: $iv-ws-colors-dodger-blue2;
  transition: color $base-duration $base-timing;
  &:hover {
    text-decoration: none;
    color: rgba($color: $iv-ws-colors-dodger-blue2, $alpha: 0.8);
  }
}
.ivideon-service__item-list-item--inactive {
  color: $iv-ws-colors-ship-cove;
}
