@import "../components/ivideon_task_item";

.ivideon-building-task {
  background: $iv-ws-colors-solitude5;
  border-radius: 24px;
  padding: 64px 0;
  @media all and (min-width: $tablet-bp) {
    padding: 80px 0;
  }
  @media all and (min-width: $desktop-bp) {
    padding: 80px 0 120px 0;
  }
}
.ivideon-building-task__title {
  margin-bottom: 40px;
  @media all and (min-width: $desktop-bp) {
    margin-bottom: 48px;
  }
}
.iv-row__ivideon-building-task {
  margin-bottom: 64px;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 80px;
  }
}
// COL
.ivideon-building-task__col {
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 12px;
  @media all and (min-width: $tablet-bp) {
    flex-basis: calc((100% - 12px) / 2);
    max-width: calc((100% - 12px) / 2);
    margin-right: 12px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
