<!-- Переменная из json, проставляет тайтл страницы -->
{% set pageTitle = ivControlPageTitle %}
<!-- Имя страницы, для проставления названия js и css файлов -->
{% set pageName = 'ivideon_control' %}

{% extends "app/njk/layout/index.njk" %}
{% block content %}
<!-- HEAD -->
{% include "app/njk/sections/ivideon_control/ivideon_control_top.njk" %}
<!-- CALCULATION -->
{% include "app/njk/sections/ivideon_control/ivideon_control_calculation.njk" %}
<!-- FEATURE  -->
{% include "app/njk/sections/ivideon_control/ivideon_conrtol_feature.njk" %}
<!-- QA -->
{% include "app/njk/sections/ivideon_control/ivideon_conrtol_qa.njk" %}
<!-- ABOUT -->
{% set aboutItems = {
title: ivControlAboutTitle,
data: [
{
title: ivControlAboutItemTitle1,
text: ivControlAboutItemText1,
numberType: 'borderGradient'
},
{
title: ivControlAboutItemTitle2,
text: ivControlAboutItemText2,
numberType: 'borderGradient'
},
{
title: ivControlAboutItemTitle3,
text: ivControlAboutItemText3,
numberType: 'borderGradient'
},
{
title: ivControlAboutItemTitle4,
text: ivControlAboutItemText4,
numberType: 'borderGradient'
},
{
title: ivControlAboutItemTitle5,
text: ivControlAboutItemText5,
numberType: 'borderGradient'
},
{
title: ivControlAboutItemTitle6,
text: ivControlAboutItemText6,
numberType: 'borderGradient'
}
]
} %}
{% from "app/njk/components/ivideon_about.njk" import aboutSection %}
{{ aboutSection( aboutItems.data, aboutItems.title) }}
<!-- PROMO -->
{% include "app/njk/sections/ivideon_control/ivideon_conrtol_promo.njk" %}
<!-- TARIFFS -->
{% include "app/njk/sections/ivideon_control/ivideon_control_tariffs.njk" %}
<!-- PRICE -->
{%set pricesData= {
title: ivCountingKeyFeaturesTitle,
link: ivFacesPriceItemLink,
data: [
{
name:ivFacesPriceItemName1,
title:ivFacesPriceItemTitle1,
text:ivFacesPriceItemText1,
cost:ivFacesPriceItemCost1
},
{
name:ivFacesPriceItemName2,
title:ivFacesPriceItemTitle2,
text:ivFacesPriceItemText2,
cost:ivFacesPriceItemCost2
},
{
name:ivFacesPriceItemName3,
title:ivFacesPriceItemTitle3,
text:ivFacesPriceItemText3,
cost:ivFacesPriceItemCost3
},
{
name:ivFacesPriceItemName4,
title:ivFacesPriceItemTitle4,
text:ivFacesPriceItemText4,
cost:ivFacesPriceItemCost4
},
{
name:ivFacesPriceItemName5,
title:ivFacesPriceItemTitle5,
text:ivFacesPriceItemText5,
cost:ivFacesPriceItemCost5
},
{
name:ivFacesPriceItemName6,
title:ivFacesPriceItemTitle6,
text:ivFacesPriceItemText6,
cost:ivFacesPriceItemCost6
}]
}%}
{% from "app/njk/components/ivideon_price.njk" import pricesSection %}
{{ pricesSection( pricesData.data, pricesData.title, pricesData.link ) }}
{% endblock %}