<!-- Переменная из json, проставляет тайтл страницы -->
{% set pageTitle = ivBridgePageTitle %}
<!-- Имя страницы, для проставления названия js и css файлов -->
{% set pageName = 'ivideon_analytics' %}
{% extends "app/njk/layout/index.njk" %}
{% block content %}
<!-- HEAD -->
{% include "app/njk/sections/ivideon_analytics/ivideon_analytics_top.njk" %}
<!-- FEATURES-->
{% include "app/njk/sections/ivideon_analytics/ivideon_analytics_features.njk" %}
<!-- FEATURES2-->
{% include "app/njk/sections/ivideon_analytics/ivideon_analytics_features2.njk" %}
<!-- ABOUT -->
{% include "app/njk/sections/ivideon_analytics/ivideon_analytics_about.njk" %}
<!-- TARIFFS -->
{% include "app/njk/sections/ivideon_analytics/ivideon_analytics_tariffs.njk" %}
{% endblock %}