<!-- Переменная из json, проставляет тайтл страницы -->
{% set pageTitle = ivControlPageTitle %}
<!-- Имя страницы, для проставления названия js и css файлов -->
{% set pageName = 'ivideon_control' %}

{% extends "app/njk/layout/index.njk" %}
{% block content %}
<!-- HEAD -->
{% include "app/njk/sections/ivideon_control/ivideon_control_top.njk" %}
<!-- CALCULATION -->
{% include "app/njk/sections/ivideon_control/ivideon_control_calculation.njk" %}
<!-- FEATURE -->
{% set featureItems = {
title: ivControlFeatureTitle,
data: [
{
icon: "../../images/dest/img/ivideon-control/videon-control-feature1.svg",
title: ivControlFeatureItemTitle1,
text: ivControlFeatureItemText1
},
{
icon: "../../images/dest/img/ivideon-control/videon-control-feature2.svg",
title: ivControlFeatureItemTitle2,
text: ivControlFeatureItemText2
},
{
icon: "../../images/dest/img/ivideon-control/videon-control-feature3.svg",
title: ivControlFeatureItemTitle3,
text: ivControlFeatureItemText3
},
{
icon: "../../images/dest/img/ivideon-control/videon-control-feature4.svg",
title: ivControlFeatureItemTitle4,
text: ivControlFeatureItemText4
}
]
} %}
{% from "app/njk/components/ivideon_feature.njk" import featureSection %}
{{ featureSection( featureItems.data, featureItems.title) }}
<!-- EXAMPLES -->
{% include "app/njk/sections/ivideon_control/ivideon_conrtol_examples.njk" %}
<!-- ABOUT -->
{% set aboutItems = {
title: ivControlAboutTitle,
data: [
{
img: "../../images/dest/img/ivideon-control/control-about1.png",
title: ivControlAboutItemTitle1,
text: ivControlAboutItemText1
},
{
img: "../../images/dest/img/ivideon-control/control-about2.png",
title: ivControlAboutItemTitle2,
text: ivControlAboutItemText2
},
{
img: "../../images/dest/img/ivideon-control/control-about3.png",
title: ivControlAboutItemTitle3,
text: ivControlAboutItemText3
},
{
img: "../../images/dest/img/ivideon-control/control-about4.png",
title: ivControlAboutItemTitle4,
text: ivControlAboutItemText4
},
{
img: "../../images/dest/img/ivideon-control/control-about5.png",
title: ivControlAboutItemTitle5,
text: ivControlAboutItemText5
},
{
img: "../../images/dest/img/ivideon-control/control-about6.png",
title: ivControlAboutItemTitle6,
text: ivControlAboutItemText6
}
]
} %}
{% from "app/njk/components/ivideon_about.njk" import aboutSection %}
{{ aboutSection( aboutItems.data, aboutItems.title) }}
<!-- PROMO -->
{% include "app/njk/sections/common/ivideon_promo2.njk" %}
<!-- TARIFFS -->
{% include "app/njk/sections/ivideon_control/ivideon_control_tariffs.njk" %}
<!-- PRICE -->
{%set pricesData= {
title: ivCountingKeyFeaturesTitle,
link: ivFacesPriceItemLink,
data: [
{
name:ivFacesPriceItemName1,
title:ivFacesPriceItemTitle1,
text:ivFacesPriceItemText1,
cost:ivFacesPriceItemCost1
},
{
name:ivFacesPriceItemName2,
title:ivFacesPriceItemTitle2,
text:ivFacesPriceItemText2,
cost:ivFacesPriceItemCost2
},
{
name:ivFacesPriceItemName3,
title:ivFacesPriceItemTitle3,
text:ivFacesPriceItemText3,
cost:ivFacesPriceItemCost3
},
{
name:ivFacesPriceItemName4,
title:ivFacesPriceItemTitle4,
text:ivFacesPriceItemText4,
cost:ivFacesPriceItemCost4
},
{
name:ivFacesPriceItemName5,
title:ivFacesPriceItemTitle5,
text:ivFacesPriceItemText5,
cost:ivFacesPriceItemCost5
},
{
name:ivFacesPriceItemName6,
title:ivFacesPriceItemTitle6,
text:ivFacesPriceItemText6,
cost:ivFacesPriceItemCost6
}]
}%}
{% from "app/njk/components/ivideon_price.njk" import pricesSection %}
{{ pricesSection( pricesData.data, pricesData.title, pricesData.link ) }}
{% endblock %}