<section class="ivideon-azs-top">
    <div class="iv-container iv-container--ivideon-azs-top">
        <div class="ivideon-azs-top__wrapper">
            <div class="ivideon-azs-top__text-wrapper">
                <h1 class="ivideon-azs-top__title">{{ivAzsTopTitle |safe}}</h1>
                <p class="ivideon-azs-top__text">{{ivAzsTopText |safe}}</p>
                <div class="ivideon-azs-top__btn-wrapper">
                    <a href="#" class="btn-blue ivideon-azs-top__btn">{{ivAzsTopBtnBlue}}</a>
                </div>
            </div>
        </div>
    </div>
</section>