<section class="ivideon-analytics-feature2">
    <div class="iv-container">
        <h2 class="iv-h2-base ivideon-analytics-feature2__title">{{ivAnalyticsFeature2Title}}</h2>
        <div class="iv-row">
            <div class="ivideon-analytics__feature2-col">
                <div class="ivideon-analytics__feature2-item">
                    <div class="ivideon-analytics__feature2-item-text-wrapper">
                        <p class="ivideon-analytics__feature2-item-title">{{ivAnalyticsFeature2ItemTitle1}}</p>
                        <p class="ivideon-analytics__feature2-item-text">{{ivAnalyticsFeature2ItemText1}}</p>
                        <a href="#"
                            class="btn-blue ivideon-analytics__feature2-item-btn">{{ivAnalyticsFeature2ItemBtn1}}</a>
                    </div>
                    <img class="ivideon-analytics__feature2-item-img ivideon-analytics__feature2-item-img--1"
                        src="../../images/dest/img/ivideon_analytics/analytics-feat1.png"
                        alt="{{ivAnalyticsFeature2ItemTitle1}}">
                </div>
            </div>

            <div class="ivideon-analytics__feature2-col">
                <div class="ivideon-analytics__feature2-item">
                    <div class="ivideon-analytics__feature2-item-text-wrapper">
                        <p class="ivideon-analytics__feature2-item-title">{{ivAnalyticsFeature2ItemTitle2}}</p>
                        <p class="ivideon-analytics__feature2-item-text">{{ivAnalyticsFeature2ItemText2}}</p>
                        <a href="#"
                            class="btn-blue ivideon-analytics__feature2-item-btn">{{ivAnalyticsFeature2ItemBtn2}}</a>
                    </div>
                    <img class="ivideon-analytics__feature2-item-img ivideon-analytics__feature2-item-img--2"
                        src="../../images/dest/img/ivideon_analytics/analytics-feat2.png"
                        alt="{{ivAnalyticsFeature2ItemTitle2}}">
                </div>
            </div>
        </div>
    </div>
</section>