<section class="ivideon-analytics-top">
    <div class="iv-container iv-container--ivideon-analytics-top">
        <div class="ivideon-analytics-top__wrapper">
            <div class="ivideon-analytics-top__text-wrapper">
                <h1 class="ivideon-analytics-top__title">{{ivAnalyticsTopTitle |safe}}</h1>
                <p class="ivideon-analytics-top__text">{{ivAnalyticsTopText |safe}}</p>
                <div class="ivideon-analytics-top__btn-wrapper">
                    <a href="#" class="btn-blue ivideon-analytics-top__btn">{{ivAnalyticsTopBtnBlue}}</a>
                </div>
            </div>
        </div>
    </div>
</section>