{% set aboutItems = {
title: ivAnalyticsAboutTitle,
data: [
{
title: ivAnalyticsAboutItemTitle1,
text: ivAnalyticsAboutItemText1,
numberType: 'gradient'
},
{
title: ivAnalyticsAboutItemTitle2,
text: ivAnalyticsAboutItemText2,
numberType: 'gradient'
},
{
title: ivAnalyticsAboutItemTitle3,
text: ivAnalyticsAboutItemText3,
numberType: 'gradient'
}
]
} %}
<section class="ivideon-about">
    <div class="iv-container">
        <h2 class="iv-h2-base ivideon-about__title">{{aboutItems.title}}</h2>
        <div class="iv-row">
            {% for item in aboutItems.data %}
            <div class="ivideon-about__col">
                {% from "app/njk/components/ivideon_about_item.njk" import aboutItem %}
                {{ aboutItem( item, loop.index ) }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>