<section class="ivideon-scud-calculation">
    <div class="iv-container">
        <div class="iv-row ivideon-scud-calculation__iv-row">
            <div class="ivideon-scud-calculation__col-text">
                <h2 class="iv-h2-base ivideon-scud-calculation__title">{{ivScudCalculationTitle}}</h2>
                <a href="#" class="btn-blue">{{ivScudCalculationBtn}}</a>
            </div>
            <div class="ivideon-scud-calculation__col-img">
                <img class="ivideon-scud-calculation__img" src="../../images/dest/img/ivideon-scud/scud-calculation.png"
                    alt="">
            </div>
        </div>
    </div>
</section>