<section class="ivideon-scud-top">
    <div class="iv-container iv-container--ivideon-scud-top">
        <div class="ivideon-scud-top__wrapper">
            <div class="ivideon-scud-top__text-wrapper">
                <h1 class="ivideon-scud-top__title">{{ivScudTopTitle |safe}}</h1>
                <p class="ivideon-scud-top__text">{{ivScudTopText |safe}}</p>
                <div class="ivideon-scud-top__btn-wrapper">
                    <a href="#" class="btn-blue ivideon-scud-top__btn">{{ivScudTopBtnBlue}}</a>
                </div>
            </div>
        </div>
    </div>
</section>