<section class="ivideon-promo-scud-block">
    <div class="iv-container">
        <div class="ivideon-promo-scud-inner">
            <h2 class="ivideon-promo-scud__title">{{ivScudPromoTitle1}}</h2>
            <p class="ivideon-promo-scud__text">{{ivScudPromoText1}}</p>
            <a href="#" class="btn-white ivideon-promo-scud__btn">{{ivScudPromoBtn1}}</a>
        </div>
    </div>
</section>