// WRAPPER
.ivideon-control-top {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 40px 40px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url("../images/dest/img/ivideon-control/control-top-bg-m.png");
  background-color: $iv-ws-colors-solitude;
  min-height: 480px;
  overflow: hidden;
  margin-bottom: 64px;
  @media all and (min-width: $tablet-bp) {
    min-height: 560px;
    margin-bottom: 80px;
    background-image: url("../images/dest/img/ivideon-control/control-top-bg-t.png");
  }
  @media all and (min-width: $desktop-bp) {
    min-height: 720px;
    background-image: url("../images/dest/img/ivideon-control/control-top-bg-d.png");
    background-size: 490px;
  }
  @media all and (min-width: 1200px) {
    background-size: 670px;
  }
  @media all and (min-width: 1400px) {
    background-size: 710px;
  }
  @media all and (min-width: 1600px) {
    background-size: 880px;
  }
  @media all and (min-width: 1800px) {
    background-size: 1020px;
  }
  // @media all and (min-width: 1900px) {
  //   background-size: auto;
  // }
}
.iv-container--ivideon-control-top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ivideon-control-top__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  padding: 96px 0 25px 0;
  @media all and (min-width: $tablet-bp) {
    padding: 120px 0 0 0;
  }
  @media all and (min-width: $desktop-bp) {
    padding: 208px 0 0 0;
  }
}
// TITLE
.ivideon-control-top__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: $iv-ws-colors-midnight;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
  }
  @media all and (min-width: $desktop-bp) {
    font-size: 64px;
    line-height: 64px;
  }
}
// TEXT
.ivideon-control-top__text-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  z-index: 4;
}
.ivideon-control-top__text {
  font-size: 14px;
  line-height: 24px;
  color: $iv-ws-colors-midnight;
  margin-bottom: 24px;
  @media all and (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  @media all and (min-width: $desktop-bp) {
    font-size: 24px;
    line-height: 32px;
  }
}
// BTNS
.ivideon-control-top__btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  @media all and (min-width: $tablet-bp) {
    justify-content: flex-start;
    margin-top: 0;
  }
}
