// WRAPPER
.ivideon-number-top {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 40px 40px;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #c7ddfe;
  background-image: url("../images/dest/img/ivideon_number/number-top-bg-m.png"),
    linear-gradient(
      91.93deg,
      #e5e5e5 -7.26%,
      #c6dbfb -5.64%,
      #cddffe -1.56%,
      #cbdefd 0.56%,
      #cedffe 5.19%,
      #cddefe 10.37%,
      #cedffe 15.65%,
      #d0e0ff 22.73%,
      #cfe2ff 26.37%,
      #d1e3ff 34.76%,
      #cee1ff 38.18%,
      #cce0ff 43.02%,
      #c9deff 46.71%,
      #c6dcfd 52.24%,
      #c4dafc 56.44%,
      #c3d9fc 59.38%,
      #c1d8fb 63.32%,
      #bed6fa 65.91%,
      #bbd3f8 69.33%,
      #bad3f7 74.05%,
      #b6d0f5 78.4%,
      #b2ccf2 83.99%,
      #aec9f0 90.71%,
      #aac5ed 95.61%
    );
  min-height: 427px;
  overflow: hidden;
  margin-bottom: 64px;
  @media all and (min-width: $tablet-bp) {
    min-height: 560px;
    margin-bottom: 80px;
    background-image: url("../images/dest/img/ivideon_number/number-top-bg-t.png"),
      linear-gradient(
        91.93deg,
        #e5e5e5 -7.26%,
        #c6dbfb -5.64%,
        #cddffe -1.56%,
        #cbdefd 0.56%,
        #cedffe 5.19%,
        #cddefe 10.37%,
        #cedffe 15.65%,
        #d0e0ff 22.73%,
        #cfe2ff 26.37%,
        #d1e3ff 34.76%,
        #cee1ff 38.18%,
        #cce0ff 43.02%,
        #c9deff 46.71%,
        #c6dcfd 52.24%,
        #c4dafc 56.44%,
        #c3d9fc 59.38%,
        #c1d8fb 63.32%,
        #bed6fa 65.91%,
        #bbd3f8 69.33%,
        #bad3f7 74.05%,
        #b6d0f5 78.4%,
        #b2ccf2 83.99%,
        #aec9f0 90.71%,
        #aac5ed 95.61%
      );
  }
  @media all and (min-width: $desktop-bp) {
    min-height: 720px;
    background-image: url("../images/dest/img/ivideon_number/number-top-bg-d.png"),
      linear-gradient(
        91.93deg,
        #e5e5e5 -7.26%,
        #c6dbfb -5.64%,
        #cddffe -1.56%,
        #cbdefd 0.56%,
        #cedffe 5.19%,
        #cddefe 10.37%,
        #cedffe 15.65%,
        #d0e0ff 22.73%,
        #cfe2ff 26.37%,
        #d1e3ff 34.76%,
        #cee1ff 38.18%,
        #cce0ff 43.02%,
        #c9deff 46.71%,
        #c6dcfd 52.24%,
        #c4dafc 56.44%,
        #c3d9fc 59.38%,
        #c1d8fb 63.32%,
        #bed6fa 65.91%,
        #bbd3f8 69.33%,
        #bad3f7 74.05%,
        #b6d0f5 78.4%,
        #b2ccf2 83.99%,
        #aec9f0 90.71%,
        #aac5ed 95.61%
      );
    background-size: 680px;
  }
  @media all and (min-width: 1200px) {
    background-size: 840px;
  }
  @media all and (min-width: $large-bp) {
    background-size: auto;
  }
}
.iv-container--ivideon-number-top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ivideon-number-top__wrapper {
  flex-grow: 1;
  position: relative;
  padding: 96px 0 24px 0;
  @media all and (min-width: $tablet-bp) {
    padding: 120px 0 0 0;
  }
  @media all and (min-width: $desktop-bp) {
    padding: 160px 0 0 0;
  }
}
// SUBTITLE
.ivideon-number-top__sybtitle {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: $iv-ws-colors-ship-cove;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 24px;
  }
}
// TITLE
.ivideon-number-top__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: $iv-ws-colors-midnight;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
  }
  @media all and (min-width: $desktop-bp) {
    font-size: 64px;
    line-height: 64px;
  }
}
// TEXT
.ivideon-number-top__text-wrapper {
  position: relative;
  z-index: 4;
}
.ivideon-number-top__text {
  font-size: 14px;
  line-height: 24px;
  color: $iv-ws-colors-midnight;
  margin-bottom: 24px;
  @media all and (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  @media all and (min-width: $desktop-bp) {
    font-size: 24px;
    line-height: 32px;
  }
}
// BTNS
.ivideon-number-top__btn-wrapper {
  display: flex;
  justify-content: flex-end;
  @media all and (min-width: $tablet-bp) {
    justify-content: flex-start;
  }
}
