@import "../../sections/ivideon_number/videon-number_promo.scss";
.ivideon-number-steps {
  padding: 64px 0;
  background: $iv-ws-colors-midnight;
  border-radius: 20px;
  @media all and (min-width: $tablet-bp) {
    padding: 80px 0;
  }
}
.ivideon-number-steps__iv-container {
  margin-bottom: 40px;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 60px;
  }
}
.ivideon-number-steps__title {
  margin-bottom: 40px;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 48px;
  }
}
// COL
.ivideon-number-steps__item-col {
  max-width: 100%;
  flex-basis: 100%;
  margin-bottom: 12px;
  @media all and (min-width: $tablet-bp) {
    max-width: calc((100% - 12px) / 2);
    flex-basis: calc((100% - 12px) / 2);
    margin-right: 12px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  @media all and (min-width: $desktop-bp) {
    max-width: calc((100% - 20px * 2) / 3);
    flex-basis: calc((100% - 20px * 2) / 3);
    margin-right: 20px;
    margin-bottom: 20px;
    &:nth-child(2n) {
      margin-right: 20px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
// ITEM
.ivideon-number-steps__item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: $iv-ws-colors-darkslategray;
  min-height: 262px;
  height: 100%;
  @media all and (min-width: $tablet-bp) {
    min-height: 336px;
  }
  @media all and (min-width: $desktop-bp) {
    min-height: 329px;
  }
}
.ivideon-number-steps__item-block {
  position: relative;
  z-index: 2;
  padding: 0 24px 40px 24px;
}
.ivideon-number-steps__item-img {
  margin-bottom: 8px;
  width: 110px;
  height: 110px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @media all and (min-width: $tablet-bp) {
    width: 140px;
    height: 140px;
  }
}
.ivideon-number-steps__item-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $iv-ws-colors-text-light;
  @media all and (min-width: $tablet-bp) {
    font-size: 24px;
    line-height: 32px;
  }
}
.ivideon-number-steps__item-text {
  font-size: 13px;
  line-height: 20px;
  color: $iv-ws-colors-text-light;
  @media all and (min-width: $tablet-bp) {
    font-size: 17px;
    line-height: 24px;
  }
}
