// WRAPPER
.ivideon-promo-scud-block {
  padding-bottom: 20px;
  @media all and (min-width: $tablet-bp) {
    padding-bottom: 64px;
  }
}
.ivideon-promo-scud-inner {
  position: relative;
  padding: 40px 24px 40px 24px;
  height: 384px;
  border-radius: 20px;
  background-image: url("../images/dest/img/ivideon-scud/scud_promo-m.png"),
    linear-gradient(304.71deg, #07f9b8 14.23%, #0395f0 81.93%);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, 0 0;
  @media all and (min-width: $tablet-bp) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 44px 50px;
    height: auto;
    background-image: url("../images/dest/img/ivideon-scud/scud_promo-t.png"),
      linear-gradient(301.99deg, #07f9b8 13.37%, #0395f0 72.05%);
  }
  @media all and (min-width: $desktop-bp) {
    align-items: flex-start;
    padding: 48px 80px;
    height: auto;
    background-image: url("../images/dest/img/ivideon-scud/scud_promo-d.png"),
      linear-gradient(301.99deg, #07f9b8 13.37%, #0395f0 72.05%);
    background-position: right center, 0 0;
    background-size: contain, auto;
  }
}
// TITLE
.ivideon-promo-scud__title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: $iv-ws-colors-text-light;
  @media all and (min-width: $tablet-bp) {
    margin-bottom: 24px;
    text-align: right;
    font-size: 40px;
    line-height: 40px;
  }
  @media all and (min-width: $desktop-bp) {
    text-align: left;
  }
}
// TEXT
.ivideon-promo-scud__text {
  margin-bottom: 24px;
  font-size: 15px;
  line-height: 24px;
  color: $iv-ws-colors-aliceblue;
  @media all and (min-width: $tablet-bp) {
    max-width: 514px;
    text-align: right;
    font-size: 17px;
    line-height: 24px;
  }
  @media all and (min-width: $desktop-bp) {
    max-width: 715px;
    text-align: left;
  }
}
// BTN
.ivideon-promo-scud__btn {
  position: absolute;
  right: 24px;
  bottom: 24px;
  @media all and (min-width: $tablet-bp) {
    position: static;
  }
}
