<section class="ivideon-hotels-partners">
    <div class="iv-container">
        <h2 class="iv-h2-base ivideon-hotels-partners__title">{{ivHotelsPartnersTitle}}</h2>
        <div class="iv-row ivideon-hotels-partners__iv-row">
            {% set partnersItem = [
            "../../images/dest/img/ivideon_hotels/hotels_partners1.png",
            "../../images/dest/img/ivideon_hotels/hotels_partners2.png",
            "../../images/dest/img/ivideon_hotels/hotels_partners3.png",
            "../../images/dest/img/ivideon_hotels/hotels_partners4.png",
            "../../images/dest/img/ivideon_hotels/hotels_partners5.png",
            "../../images/dest/img/ivideon_hotels/hotels_partners6.png",
            "../../images/dest/img/ivideon_hotels/hotels_partners7.png",
            "../../images/dest/img/ivideon_hotels/hotels_partners8.png"
            ]%}
            {% for item in partnersItem %}
            <div class="ivideon-hotels-partners__col">
                <div class="ivideon-hotels-partners__item">
                    <img src="{{item}}" alt="партнеры">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>