<section class="ivideon-hotels-top">
    <div class="iv-container iv-container--ivideon-hotels-top">
        <div class="ivideon-hotels-top__wrapper">
            <div class="ivideon-hotels-top__text-wrapper">
                <h1 class="ivideon-hotels-top__title">{{ivHotelsTopTitle |safe}}</h1>
                <p class="ivideon-hotels-top__text">{{ivHotelsTopText |safe}}</p>
                <div class="ivideon-hotels-top__btn-wrapper">
                    <a href="#" class="btn-blue ivideon-hotels-top__btn">{{ivHotelsTopBtnBlue}}</a>
                </div>
            </div>
        </div>
    </div>
</section>