{% macro aboutSection(dataArr, title) %}
<section class="ivideon-about">
    <div class="iv-container">
        <h2 class="iv-h2-base ivideon-about__title">{{title}}</h2>
        <div class="iv-row">
            {% for item in dataArr %}
            <div class="ivideon-about__col">
                {% from "app/njk/components/ivideon_about_item.njk" import aboutItem %}
                {{ aboutItem( item, loop.index ) }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endmacro %}