{% macro examplesItem(img, title, text) %}
<div class="ivideon-examples__item">
    <div class="ivideon-examples__img">
        <img src="{{img}}" alt="{{title}}">
    </div>
    <p class="ivideon-examples__item-title">
        {{title}}
    </p>
    <p class="ivideon-examples__item-text">
        {{text}}
    </p>
</div>
{% endmacro %}