{% macro examplesItem(img, title, text, link) %}
<div class="ivideon-examples__item">
    <div class="ivideon-examples__img">
        <img src="{{img}}" alt="{{title}}">
    </div>
    <p class="ivideon-examples__item-title">
        {{title}}
    </p>
    <p class="ivideon-examples__item-text">
        {{text}}
    </p>
    {% if link %}
    <a href="#" class="ivideon-examples__item-link">
        {{link}}
    </a>
    {% endif %}
</div>
{% endmacro %}