{% macro aboutItem(item, index) %}
<div class="ivideon-about__item">
    {% if item.img %}
    <img src="{{item.img}}" alt="{{item.title}}" class="ivideon-about__item-img">
    {% endif %}
    <div class="ivideon-about__item-inner">
        <p class="ivideon-about__item-title">{{item.title}}</p>
        <p class="ivideon-about__item-text">{{item.text}}</p>
    </div>
    {% if item.numberType == 'borderGradient' %}
    <svg class="ivideon-about__item-text-svg" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" width="180" height="255" viewBox="0 0 180 255">
        <defs>
            <linearGradient id="textGradient" x1="86.2797" y1="0.248047" x2="86.2797" y2="224.952"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#00B1DB" stop-opacity="0.12" />
                <stop offset="1" stop-color="#C70093" stop-opacity="0.51" />
            </linearGradient>
        </defs>
        <g>
            <text x="5" y="260" class="ivideon-about__item-number-svg" stroke="url(#textGradient)" fill="transparent"
                stroke-width="2">
                <tspan>{{index}}</tspan>
            </text>
        </g>
    </svg>
    {% elseif item.numberType == 'gradient' %}
    <svg class="ivideon-about__item-text-svg" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" width="180" height="255" viewBox="0 0 180 255">
        <defs>
            <linearGradient id="textGradient" x1="70.0802" y1="0.200195" x2="70.0802" y2="213"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#00B1DB" stop-opacity="0.12" />
                <stop offset="1" stop-color="#C70093" stop-opacity="0.51" />
            </linearGradient>
        </defs>
        <g>
            <text x="5" y="260" class="ivideon-about__item-number-svg" fill="url(#textGradient)">
                <tspan>{{index}}</tspan>
            </text>
        </g>
    </svg>
    {% else %}
    <span class="ivideon-about__item-number">{{index}}</span>
    {% endif %}
</div>
{% endmacro %}