{% macro featureSection(dataArr, title, subtitle = '') %}
<section class="ivideon-feture">
    <div class="iv-container">
        <h2 class="iv-h2-base ivideon-feture__title">{{title}}</h2>
        {% if subtitle %}
        <p class="ivideon-feture__subtitle">{{subtitle}}</p>
        {% endif %}
        <div class="iv-row">
            {% from "app/njk/components/ivideon_feature_item.njk" import featureItem %}
            {% for item in dataArr %}
            <div class="ivideon-feture__col">
                {{ featureItem(item.icon, item.title, item.text) }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endmacro %}