{% macro examplesItem(img, title, text) %}
<div class="ivideon-examples__item">
    <div class="ivideon-examples__img">
        <picture>
            <source srcset="{{img}}-t.jpg" media="(min-width: 768px)">
            <img src="{{img}}-m.jpg" alt="{{title}}">
        </picture>
    </div>
    <p class="ivideon-examples__item-title">
        {{title}}
    </p>
    <p class="ivideon-examples__item-text">
        {{text}}
    </p>
</div>
{% endmacro %}