{% macro pricesSection(dataArr, title, link, light=false) %}
<section class="ivideon-price {% if light %}ivideon-price--light{% endif%}">
    <div class="iv-container">
        <h2 class="iv-h2-base videon-price__title">{{title}}</h2>
        <div class="iv-row">
            {% from "app/njk/components/ivideon_price_item.njk" import priseItem %}
            {% for item in dataArr %}
            <div class="ivideon-price__col">
                {{ priseItem(item.name, item.title, item.text, item.cost, link, light) }}
            </div>
            {%endfor%}

        </div>
    </div>
</section>
{% endmacro %}