{% macro featureItemNoBorder(icon, title, text) %}
<div class="ivideon-feature__item">
    <div class="ivideon-feature__item-img">
        <img src="{{icon}}" alt="{{title}}">
    </div>
    {% if title %}
    <p class="ivideon-feature__item-title">
        {{title}}
    </p>
    {% endif %}
    <p class="ivideon-feature__item-text">
        {{text}}
    </p>
</div>
{% endmacro %}