button,
.btn,
input[type="submit"] {
  display: inline-block;
  background-color: transparent;
  border-style: none;
  border-width: none;
  border-color: transparent;
  font-family: $iv-ws-font-family-golos;
  transition: all $base-duration $base-timing;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  padding: 0;
  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}

.btn-white-border {
  @extend .btn;
  border: 1px solid $iv-ws-colors-text-light;
  padding: 11px 16px;
  border-radius: 20px;
  font-size: 15px;
  line-height: 24px;
  color: $iv-ws-colors-text-light;
  &:hover {
    color: $iv-ws-colors-text-light;
  }
  @media all and (min-width: $tablet-bp) {
    font-size: 17px;
    line-height: 32px;
    padding: 11px 24px;
  }
}
.btn-white {
  @extend .btn;
  border-radius: 20px;
  padding: 12px 16px;
  background-color: $iv-ws-colors-text-light;
  color: $iv-ws-colors-midnight;
  font-size: 15px;
  line-height: 24px;
  &:hover {
    color: $iv-ws-colors-midnight;
  }
  @media all and (min-width: $tablet-bp) {
    font-size: 17px;
    line-height: 32px;
    padding: 12px 24px;
  }
}
.btn-blue {
  @extend .btn;
  border-radius: 20px;
  padding: 12px 16px;
  background-color: $iv-ws-colors-dodger-blue2;
  color: $iv-ws-colors-text-light;
  font-size: 15px;
  line-height: 24px;
  &:hover {
    color: $iv-ws-colors-text-light;
  }
  @media all and (min-width: $tablet-bp) {
    font-size: 17px;
    line-height: 32px;
    padding: 12px 24px;
  }
}
.btn-blue-border {
  @extend .btn;
  border: 1px solid $iv-ws-colors-dodger-blue2;
  padding: 11px 16px;
  border-radius: 20px;
  font-size: 15px;
  line-height: 24px;
  color: $iv-ws-colors-dodger-blue2;
  &:hover {
    color: $iv-ws-colors-dodger-blue2;
  }
  @media all and (min-width: $tablet-bp) {
    font-size: 17px;
    line-height: 32px;
    padding: 11px 24px;
  }
}
