<section class="ivideon-faces-partners">
    <div class="iv-container">
        <h2 class="iv-h2-base ivideon-faces-partners__title">{{ivFacesPartnersTitle}}</h2>
        <p class="ivideon-faces-partners__subtitle">{{ivFacesPartnersSubtitle}}</p>
        <div class="iv-row">
            <div class="ivideon-faces-partners__col">
                <div class="ivideon-faces-partners__item">
                    <picture>
                        <source srcset="../../images/dest/img/ivideon-faces/videon-faces-partner1-d.png"
                            media="(min-width: 1366px)">
                        <img src="../../images/dest/img/ivideon-faces/videon-faces-partner1.png" alt="Офисы">
                    </picture>
                </div>
            </div>
            <div class="ivideon-faces-partners__col">
                <div class="ivideon-faces-partners__item">
                    <img src="../../images/dest/img/ivideon-faces/videon-faces-partner2.svg" alt="парнтнер">
                </div>
            </div>
            <div class="ivideon-faces-partners__col">
                <div class="ivideon-faces-partners__item">
                    <img src="../../images/dest/img/ivideon-faces/videon-faces-partner3.svg" alt="парнтнер">
                </div>
            </div>
        </div>
    </div>
</section>