<section class="ivideon-faces-interface">
    <div class="iv-container">
        <h2 class="iv-h2-base iv-h2-base--white videon-faces-interface__title">{{ivFacesInterfaceTitle}}</h2>
    </div>
    {% from "app/njk/components/ivideon_interface_slider.njk" import interfaceSlider %}
    {% set interfaceImg = [
    ['../../images/dest/img/ivideon-faces/videon-faces-interface1'],
    ['../../images/dest/img/ivideon-faces/videon-faces-interface1'],
    ['../../images/dest/img/ivideon-faces/videon-faces-interface1'],
    ['../../images/dest/img/ivideon-faces/videon-faces-interface1'],
    ['../../images/dest/img/ivideon-faces/videon-faces-interface1']
    ]%}
    {{ interfaceSlider(interfaceImg) }}
</section>