<section class="ivideon-faces-top">
    <div class="iv-container iv-container--ivideon-faces-top">
        <div class="ivideon-faces-top__wrapper">
            <div class="ivideon-faces-top__text-wrapper">
                <h1 class="ivideon-faces-top__title">{{ivFacesTopTitle}}</h1>
                <p class="ivideon-faces-top__text">{{ivFacesTopText}}</p>
                <div class="ivideon-faces-top__btn-wrapper">
                    <a href="#" class="btn-white-border ivideon-faces-top__btn">{{ivFacesTopBtnTransparent}}</a>
                    <a href="#" class="btn-white ivideon-faces-top__btn">{{ivFacesTopBtnWhite}}</a>
                </div>
            </div>
        </div>
    </div>
</section>