<section class="ivideon-promo-faces-block">
    <div class="iv-container">
        <div class="ivideon-promo-faces-inner">
            <h2 class="ivideon-promo-faces__title">{{ivFacesPromoTitle}}</h2>
            <p class="ivideon-promo-faces__text">{{ivFacesPromoText}}</p>
            <a href="#" class="btn-white ivideon-promo-faces__btn">{{ivFacesPromoBtn}}</a>
        </div>
    </div>
</section>