<section class="ivideon-faces-top">
    <div class="iv-container iv-container--ivideon-faces-top">
        <div class="ivideon-faces-top__wrapper">
            <div class="ivideon-faces-top__text-wrapper">
                <h1 class="ivideon-faces-top__title">{{ivFacesTopTitle}}</h1>
                <p class="ivideon-faces-top__text">{{ivFacesTopText}}</p>
                <div class="ivideon-faces-top__btn-wrapper">
                    <a href="#" class="btn-white-border ivideon-faces-top__btn">{{ivFacesTopBtnTransparent}}</a>
                    <a href="#" class="btn-white ivideon-faces-top__btn">{{ivFacesTopBtnWhite}}</a>
                </div>
            </div>
            <div class="ivideon-faces-top__img-block">
                <picture>
                    <source srcset="../../images/dest/img/ivideon-faces/videon-faces-top-msg-d.png"
                        media="(min-width: 1366px)">
                    <source srcset="../../images/dest/img/ivideon-faces/videon-faces-top-msg-t.png"
                        media="(min-width: 768px)">
                    <img class="ivideon-faces-top__img-sub"
                        src="../../images/dest/img/ivideon-faces/videon-faces-top-msg-m.png" alt="сообщение">
                </picture>
                <picture>
                    <source srcset="../../images/dest/img/ivideon-faces/videon-faces-top-computer-d.png"
                        media="(min-width: 1366px)">
                    <source srcset="../../images/dest/img/ivideon-faces/videon-faces-top-computer-t.png"
                        media="(min-width: 768px)">
                    <img class="ivideon-faces-top__img-main"
                        src="../../images/dest/img/ivideon-faces/videon-faces-top-computer-m.png" alt="Компьютер">
                </picture>
            </div>
        </div>
    </div>
</section>