<section class="ivideon-building-top">
    <div class="iv-container iv-container--ivideon-building-top">
        <div class="ivideon-building-top__wrapper">
            <div class="ivideon-building-top__text-wrapper">
                <h1 class="ivideon-building-top__title">{{ivBuildingTopTitle |safe}}</h1>
                <p class="ivideon-building-top__text">{{ivBuildingTopText |safe}}</p>
                <div class="ivideon-building-top__btn-wrapper">
                    <a href="#" class="btn-blue ivideon-building-top__btn">{{ivBuildingTopBtnBlue}}</a>
                </div>
            </div>
        </div>
    </div>
</section>