<section class="ivideon-counting-top">
    <div class="iv-container iv-container--ivideon-counting-top">
        <div class="ivideon-counting-top__wrapper">
            <div class="ivideon-counting-top__text-wrapper">
                <h1 class="ivideon-counting-top__title">{{ivCountingTopTitle}}</h1>
                <p class="ivideon-counting-top__text">{{ivCountingTopText}}</p>
                <div class="ivideon-counting-top__btn-wrapper">
                    <a href="#" class="btn-white-border ivideon-counting-top__btn">{{ivCountingTopBtnTransparent}}</a>
                    <a href="#" class="btn-white ivideon-counting-top__btn">{{ivCountingTopBtnWhite}}</a>
                </div>
            </div>
            <div class="ivideon-counting-top__img-block">
                <picture>
                    <source srcset="../../images/dest/img/ivideon-counting/videon-counting-top-img-d.png"
                        media="(min-width: 1024px)">
                    <source srcset="../../images/dest/img/ivideon-counting/videon-counting-top-img-t.png"
                        media="(min-width: 768px)">
                    <img class="ivideon-counting-top__img-main"
                        src="../../images/dest/img/ivideon-counting/videon-counting-top-img-m.png"
                        alt="{{ivCountingTopTitle}}">
                </picture>
            </div>
        </div>
    </div>
</section>