<section class="ivideon-promo-counting-block">
    <div class="iv-container">
        <div class="ivideon-promo-counting-inner">
            <h2 class="ivideon-promo-counting__title">{{ivCountingPromoTitle}}</h2>
            <p class="ivideon-promo-counting__text">{{ivCountingPromoText}}</p>
            <a href="#" class="btn-white ivideon-promo-counting__btn">{{ivCountingPromoBtn}}</a>
        </div>
    </div>
</section>