<section class="ivideon-counting-cost">
    <h2 class="iv-h2-base videon-counting-cost__title">{{ivCountingCostTitle}}</h2>
    <div class="iv-container">
        <div class="iv-row ivideon-counting-cost__iv-row ivideon-counting-cost__iv-row--top">
            <div class="ivideon-counting-cost__col ivideon-counting-cost__col--content">
                <div class="ivideon-counting-cost__product-img">
                    <img src="../../images/dest/img/ivideon-counting/ivideon-cost-product.png" alt="Counter 3D">
                </div>
            </div>
            <div class="ivideon-counting-cost__col">
                <div class="videon-counting-cost__desription">
                    <p class="videon-counting-cost__desription-title">{{ivCountingCostSubTitle}}</p>
                    <p class="videon-counting-cost__desription-item videon-counting-cost__desription-item--check">
                        {{ivCountingCostText1}}</p>
                    <p class="videon-counting-cost__desription-item videon-counting-cost__desription-item--check">
                        {{ivCountingCostText2}}</p>
                    <p class="videon-counting-cost__desription-item videon-counting-cost__desription-item--check">
                        {{ivCountingCostText3}}</p>
                    <p class="videon-counting-cost__desription-item videon-counting-cost__desription-item--check">
                        {{ivCountingCostText4}}</p>
                    <p class="videon-counting-cost__desription-item videon-counting-cost__desription-item--check">
                        {{ivCountingCostText5}}</p>
                    <p
                        class="videon-counting-cost__desription-item videon-counting-cost__desription-item--question videon-counting-cost__desription-item--bottom">
                        {{ivCountingCostText6 |safe}}</p>
                    <div class="videon-counting-cost__btns videon-counting-cost__btns--bottom">
                        <a href="#" class="btn-blue videon-counting-cost__desription-btn">{{ivCountingCostBtnBlue}}</a>
                        <p class="videon-counting-cost__full-price">{{ivCountingCostFullPrice}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="iv-row ivideon-counting-cost__iv-row">
            <div class="ivideon-counting-cost__col ivideon-counting-cost__col--content">
                <div class="videon-counting-cost__item">
                    <div class="videon-counting-cost__item-title">{{ivCountingCostItemTitle}}</div>
                    <div class="videon-counting-cost__item-inner">
                        <div class="videon-counting-cost__item-text-wrapper">
                            <p class="videon-counting-cost__item-text">{{ivCountingCostItemCost1}}
                                <span class="videon-counting-cost__item-text-rub">₽</span>
                            </p>
                            <p class="videon-counting-cost__item-description">{{ivCountingCostItemSubtitle1}}</p>
                        </div>
                        <div class="videon-counting-cost__item-text-wrapper">
                            <p class="videon-counting-cost__item-text">
                                {{ivCountingCostItemCost2}}
                                <span class="videon-counting-cost__item-text-rub">₽</span>
                            </p>
                            <p class="videon-counting-cost__item-description">{{ivCountingCostItemSubtitle2}}</p>
                        </div>
                        <div class="videon-counting-cost__item-text-wrapper">
                            <p class="videon-counting-cost__item-text videon-counting-cost__item-text-badge">
                                {{ivCountingCostItemCost3}}
                                <span class="videon-counting-cost__item-text-rub">₽</span>
                                <span class="videon-counting-cost__item-badge">{{ivCountingCostItemBadge}}</span>
                            </p>
                            <p class="videon-counting-cost__item-description">
                                {{ivCountingCostItemSubtitle3}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ivideon-counting-cost__col ivideon-counting-cost__col--middle">
                <div class="videon-counting-cost__desription">
                    <p class="videon-counting-cost__desription-item videon-counting-cost__desription-item--check">
                        {{ivCountingCostText7}}</p>
                    <p class="videon-counting-cost__desription-item videon-counting-cost__desription-item--check">
                        {{ivCountingCostText8}}</p>
                    <p class="videon-counting-cost__desription-item videon-counting-cost__desription-item--check">
                        {{ivCountingCostText9}}</p>
                    <div class="videon-counting-cost__btns videon-counting-cost__btns--bottom">
                        <a href="#" class="btn-blue-border">{{ivCountingCostBtnBlueBorder}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>