<section class="ivideon-retail-top">
    <div class="iv-container iv-container--ivideon-retail-top">
        <div class="ivideon-retail-top__wrapper">
            <div class="ivideon-retail-top__text-wrapper">
                <h1 class="ivideon-retail-top__title">{{ivRetailTopTitle |safe}}</h1>
                <p class="ivideon-retail-top__text">{{ivRetailTopText |safe}}</p>
                <div class="ivideon-retail-top__btn-wrapper">
                    <a href="#" class="btn-blue ivideon-retail-top__btn">{{ivRetailTopBtnBlue}}</a>
                </div>
            </div>
        </div>
    </div>
</section>